{#
/**
 * @file
 * Default theme implementation for the individual Swiper item/slide template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - item.slide: A renderable array of the main image/background.
 * - item.caption: A renderable array containing caption fields if provided:
 *   - title: The individual slide title.
 *   - alt: The core Image field Alt as caption.
 *   - link: The slide links or buttons.
 *   - overlay: The image/audio/video overlay, or a nested slick.
 *   - data: any possible field for more complex data if crazy enough.
 * - settings: An array containing the given settings.
 * - options: An array containing given swiper settings; those are taken from configuration entity chosen as a template.
 * - loader: A flag to enable lazy loading of images
 *
 * @see template_preprocess_swiper_list_item()
 */
#}

{% if image  %}
  {%
    set bg_classes = [
      'bg-light-grey',
      'animated',
      'fadeIn',
      'fast',
      'delay-2s',
      'nk-tools-nodes-banner-block',
      'z-index--1',
      'fixed-bg'
    ]
  %}

  {% set bg_image = 'background-size: contain; background-image: url(' ~ image ~ ')' %}    

  {% if bg_image and image_color %}
    {% set bg_image = bg_image ~ '; background-color: ' ~ image_color %}
  {% endif %}

  {% if bg_image and image_opacity %}
    {% set bg_image = bg_image ~ '; opacity: ' ~ image_opacity %}
  {% endif %}
  
{% endif %}





<div {{ attributes.addClass(bg_classes) }} {% if bg_image %} {{ attributes.setAttribute('style', bg_image) }} {{ attributes.setAttribute('data-header', '#secondary-navigation').setAttribute('data-caption', '#node-banner-caption') }} {% endif %}>

{#   {{ background }} #}


  {{ item }}
  
  {# TODO: Lazy loade support #}
  {% if loader %}
     <div class="swiper-lazy-preloader"></div>
  {% endif %}

  {% if caption %}
    <div class="swiper-caption">
      {{ caption }}
    </div>
  {% endif %}
</div>